# Name: 两步路户外助手去广告
# Description: 移除开屏广告、弹窗广告，精简我的页面。
# Open URL: https://apps.apple.com/app/id646277024
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/2bulu.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-03 17:45:00 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/2bulu_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/helper\.2bulu\.com\/getAppEntranceConfig\? url jsonjq-response-body '.configData=(.configData|fromjson|del(.adPlatform,.adIntertitialShowType,.adsConfig,.adIntertitialDisplayedLimit,.adSplashShowTypeWhenHotStart,.adIntertitialDayDisplayedMaxCount,.od_adsType,.showMeBaiHeAdView)|tojson)'

^https:\/\/helper\.2bulu\.com\/search\/searchHotKeyList\? url reject-dict

^https:\/\/helper\.2bulu\.com\/promote\/getAppUserModule\? url reject-dict

^https:\/\/helper\.2bulu\.com\/proSpecial\/allData\? url reject-dict

# [mitm]
hostname = helper.2bulu.com
