# Name: 前程无忧去广告
# Description: 移除开屏广告、弹窗、信息流推广、职位页面推广和各类横幅推广。
# Open URL: https://apps.apple.com/app/id415443644
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/51Job.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:16:03 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/51Job_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/appapi\.51jobapp\.com\/api\/market\/get_launch\.php\? url reject-dict

^https:\/\/cupid\.51jobapp\.com\/open\/operation\/get\/latest\/banner-list\? url reject-dict

^ url script-response-body https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_51Job_remove_ads/phase_qx_response_54b61467ac.js

^https:\/\/cupid\.51jobapp\.com\/open\/51job-activities\/secJob\/queryHomeSecondConfigV2\? url reject-dict

^https:\/\/cupid\.51jobapp\.com\/open\/noauth\/jobs\/detail\/sesame-competitive\/ url reject-dict

^https:\/\/cupid\.51jobapp\.com\/open\/noauth\/jobs\/job-detail\/user-rights\? url reject-dict

^https:\/\/cupid\.51jobapp\.com\/open\/resume\/strategy\/resume-build\? url reject-dict

^https:\/\/cupid\.51jobapp\.com\/launch-hub\/open\/noauth\/popUp\/ url reject-dict
^https:\/\/cupid\.51jobapp\.com\/launch-hub\/open\/noauth\/popUp\/getHomePagePopUp\? url reject-dict

# [mitm]
hostname = appapi.51jobapp.com, cupid.51jobapp.com
