# Name: 555电影去广告
# Description: 移除开屏广告和各类横幅广告，支持iPadOS。
# Open URL: https://5wuv.com
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Platform: iOS, iPadOS
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/555DY.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:15:39 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/555DY_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]

^https:\/\/(app-v1\.ecoliving168\.com|852b95d36\.xwlpk\.cn)\/api\/v1\/movie\/index_recommend\? url jsonjq-response-body '.data[].list |= map(select(.type != 3)) | .data |= map(select(.layout != "advert_self"))'

# [mitm]
hostname = app-v1.ecoliving168.com, 852b95d36.xwlpk.cn
