# Name: 5EPlay去广告
# Description: 移除开屏广告、弹窗广告、活动角标、商城。
# Open URL: https://apps.apple.com/app/id1149334962
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/5EPlay.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 01:53:31 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/5EPlay_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^ url script-response-body https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/5EPlay/phase_qx_response_32e04765ef.js

^https:\/\/ya-api-app\.5eplay\.com\/v\d\/search\/kwd_top$ url reject-dict

# [mitm]
hostname = app.5eplay.com, ya-api-app.5eplay.com
