# Name: 海雀去广告
# Description: 移除开屏广告、横幅广告、弹窗广告，拦截商城和资讯页面。
# Open URL: https://apps.apple.com/app/id1310128663
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/AlcidaeVideo.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 18:36:39 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/AlcidaeVideo_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/app-api-32\.ihaique\.net\/api\/app\/v\d\/appad\/cmd\/AppadGetSplashAds\? url reject-dict

^https:\/\/app-api-32\.ihaique\.net\/api\/app\/v\d\/appad\/cmd\/AppGetAttentionInfos\? url reject-dict

^https:\/\/app-api-32\.ihaique\.net\/api\/app\/v\d\/appad\/cmd\/AppadGetBannerAds\? url reject-dict

^https:\/\/g\.ihaique\.net\/alcidae\/info\/index\.html$ url reject

^https:\/\/shop151522958\.youzan\.com\/v\d\/showcase\/homepage\? url reject

# [mitm]
hostname = app-api-32.ihaique.net, g.ihaique.net, shop151522958.youzan.com
