# Name: 一刻相册去广告
# Description: 移除开屏广告、横幅广告和弹窗推广。
# Open URL: https://apps.apple.com/app/id1467852587
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/BaiduPhoto.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 06:22:27 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/BaiduPhoto_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/pan\.baidu\.com\/act\/api\/conf\?.*conf_key=youa_core_config_ios url reject-dict

^https:\/\/pan\.baidu\.com\/youai\/material\/v1\/getbynavid\?.*nav_id=1 url reject-dict

^ url script-response-body https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_BaiduPhoto_remove_ads/features_qx_7d1b5b0867.js

# [mitm]
hostname = pan.baidu.com, mbd.baidu.com
