# Name: 百度文库去广告
# Description: 移除开屏广告、横幅广告、弹窗广告、信息流推广、搜索发现、热门搜索、资料库搜索推荐，精简我的页面。
# Open URL: https://apps.apple.com/app/id426340811
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/BaiduWenku.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 06:22:27 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/BaiduWenku_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/appwk\.baidu\.com\/xpage\/interface\/wknaad\? url reject-dict

^ url script-response-body https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_BaiduWenku_remove_ads/phase_qx_response_ffac7251b4.js

^https:\/\/appwk\.baidu\.com\/appapi\/search\/hot\? url reject-dict

^https:\/\/appwk\.baidu\.com\/naapi\/search\/wkhotwords\? url reject-dict

^https:\/\/appwk\.baidu\.com\/appapi\/task\/viptasklist\? url reject-dict

^https:\/\/appwk\.baidu\.com\/activity\/interface\/wkapppopup\? url reject-dict

^https:\/\/appwk\.baidu\.com\/appapi\/abg\/index\? url reject-dict

^https:\/\/appwk\.baidu\.com\/naapi\/recommend\/recommenddoc\? url reject-dict

^https:\/\/appwk\.baidu\.com\/naapi\/recommend\/vipdoccard\? url reject-dict

# [mitm]
hostname = appwk.baidu.com, tanbi.baidu.com
