# Name: 比特球云盘去广告
# Description: 移除开屏广告和各类横幅推广。
# Open URL: https://apps.apple.com/app/id1388178609
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/BitqiuPan.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:15:48 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/BitqiuPan_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/pan-api\.bitqiu\.com\/activity\/getPromoteGuide$ url reject-dict

^http:\/\/pan-api\.bitqiu\.com\/activity\/getUrlList$ url reject-dict

^https:\/\/pan-api\.bitqiu\.com\/activity\/guides$ url reject-dict

# [mitm]
hostname = pan-api.bitqiu.com
