# Name: 比心去广告
# Description: 移除弹窗广告、悬浮广告、横幅广告、轮播图广告，精简搜索页及我的页面。
# Open URL: https://apps.apple.com/app/id1286964732
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/Bixin.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:00:20 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/Bixin_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/web\.hibixin\.com\/user-recall\/signModal$ url reject

^https:\/\/api\.hibixin\.com\/config\/v\d\/common\/popup$ url reject-dict

^https:\/\/api\.hibixin\.com\/biggie\/home\/v\d\/query\/biggie$ url jsonjq-response-body '.result.list |= map(select(has("bannerList") and .bannerList == null))'

^https:\/\/gateway\.hibixin\.com\/resource\/v\d\/rec\/card\/query$ url reject-dict

^https:\/\/api\.hibixin\.com\/msg\/user\/friends\/trends\/top$ url reject-dict

^https:\/\/gateway\.xxqapp\.cn\/live\/pendant\/index\/items$ url reject-dict

^https:\/\/api\.xxqapp\.cn\/banner\/list\/\d$ url reject-dict

^https:\/\/api\.hibixin\.com\/content\/v\d\/home\/page\/list$ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_Bixin_remove_ads/mock_bc3ac953fa.js

^https:\/\/api\.hibixin\.com\/resource\/v\d\/discovery\/entrance\/activity$ url reject-dict

^https:\/\/gateway\.hibixin\.com\/config\/search\/qryConfigPart$ url reject-dict

^https:\/\/gateway\.xxqapp\.cn\/live\/flow\/pendant\/meta$ url reject-dict

^https:\/\/web-bxyuer\.bixin\.cn\/yuer-ads\? url reject
^https:\/\/gateway\.bxyuer\.com\/official\/room\/tab\/pop$ url reject-dict

^https:\/\/gateway\.xxqapp\.cn\/living\/room\/fetch\/recommend-follow-list$ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_Bixin_remove_ads/mock_088be4a4c5.js

^https:\/\/api\.hibixin\.com\/biggie\/query\/skill\/detail\/relateRecommendBiggieV\d$ url reject-dict

^https:\/\/api\.hibixin\.com\/resource\/v\d\/common\/tab$ url jsonjq-response-body '.result |= map(select(.type != "activityCenter"))'
# 精简首页标签
^https:\/\/gateway\.hibixin\.com\/resource\/v\d\/common\/tab\/query$ url script-response-body https://kelee.one/Resource/JavaScript/Bixin/common_tab.js

# 精简我的页面
^https:\/\/gateway\.hibixin\.com\/resource\/v\d\/my\/page$ url script-response-body https://kelee.one/Resource/JavaScript/Bixin/my_page.js

# [mitm]
hostname = web.hibixin.com, api.hibixin.com, gateway.hibixin.com, gateway.xxqapp.cn, api.xxqapp.cn, web-bxyuer.bixin.cn, gateway.bxyuer.com
