# Name: CC直播去广告
# Description: 移除信息流推广和横幅，精简顶部标签。
# Open URL: https://apps.apple.com/app/id853008299
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/CCLive.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-03 17:44:35 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/CCLive_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/api\.cc\.163\.com\/v\d\/mgamenavigation\/navigation_list\? url jsonjq-response-body '.data.info_list |= map(select(.name == "关注" or .name == "推荐" or .name == "视频" or .name == "全部"))'

^https:\/\/api\.cc\.163\.com\/v\d\/mgamerecpage\/recommend_page\? url jsonjq-response-body '.data.plugins|=map(select(.module_type!="banner"))|.data.plugins|=map(select(.module_type!="show_list"))|.data.plugins|=map(select(.title!="推荐品类"))'

^https:\/\/api\.cc\.163\.com\/v\d\/entpage\/live_navbar_mobile\/ios\? url jsonjq-response-body '.data.top_nav |= map(select(.cn_name == "推荐" or .cn_name == "星秀" or .cn_name == "心动交友"))'

^https:\/\/cc\.163\.com\/act\/m\/daily\/ad_ url reject
^http:\/\/mshare\.cc\.163\.com\/mshare\/startadv_mobile_v\d\? url reject-dict

^https:\/\/appapi\.cc\.163\.com\/v\d\/mixfloatingwindow\/floating_windows\? url reject-dict

^http:\/\/api\.cc\.163\.com\/v1\/mpopuprecommend\/exit_room_conf$ url reject-dict

# [mitm]
hostname = api.cc.163.com, cc.163.com, mshare.cc.163.com, appapi.cc.163.com
