# Name: 学习通去广告
# Description: 移除开屏广告、横幅推广，精简校园补给站频道。
# Open URL: https://apps.apple.com/app/id977946724
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/ChaoXingStudy.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:52:36 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/ChaoXingStudy_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/learn\.chaoxing\.com\/apis\/service\/appConfig\? url jsonjq-response-body 'delpaths([["data","ad"]])'

^https:\/\/home-yd\.chaoxing\.com\/apis\/data\/getAdsRecommend\? url reject-dict
^https:\/\/home-yd\.chaoxing\.com\/apis\/banner\/getConfigInfoForXsqy\? url reject-dict

^https:\/\/apps\.chaoxing\.com\/apis\/home\/getHpXsqy\.jspx\? url jsonjq-response-body '.data.list |= map(select(.pid == 4 or .pid == 44)) | .data.list_xsqy |= map(select(.pid == 4 or .pid == 44)) | .data.list_xysqbj |= map(select(.pid == 4 or .pid == 44)) | .data.lanmu |= map(select(.id == 4 or .id == 44))'

^https:\/\/apps\.chaoxing\.com\/apis\/home\/getHpXsqy\.jspx\? url jsonjq-response-body 'delpaths([["data","list_timeapp"]])'

^https:\/\/groupyd2\.chaoxing\.com\/apis\/activity\/getActivitys_attention\? url reject-dict
^https:\/\/appswh\.chaoxing\.com\/apis\/activity\/getNoteTopicList\? url reject-dict

# [mitm]
hostname = learn.chaoxing.com, home-yd.chaoxing.com, apps.chaoxing.com, groupyd2.chaoxing.com, appswh.chaoxing.com
