# Name: 看家王去广告
# Description: 移除开屏广告、横幅广告。
# Open URL: https://apps.apple.com/app/id6447252954
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/ChatCam.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 18:07:18 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/ChatCam_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/fast\.jfgou\.com:1443\/api\/web\/v\d\/no\/app\/advertisement\/ url reject-dict

^https:\/\/jiafeigou-1251885898\.cos\.ap-guangzhou\.myqcloud\.com\/forever\/web_server\/app_config\/banner_\d+ url reject

# [mitm]
hostname = fast.jfgou.com, jiafeigou-1251885898.cos.ap-guangzhou.myqcloud.com
