# Name: 南网在线去广告
# Description: 移除首页推广，精简搜索页和我的页面。
# Open URL: https://apps.apple.com/app/id1341596112
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/CSG.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:52:23 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/CSG_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/95598\.csg\.cn\/mp\/mpaas\/mgw\.htm$ url jsonjq-response-body 'if .info | contains("RUBIK-TRACEID:") then .scene.page.areas |= map(select(.areaId | test("kingkong_|9grid_|message_|nearmap_|recommend_"))) else . end'

^https:\/\/95598\.csg\.cn\/mp\/ucs\/ma\/zt\/content\/queryHotInformations$ url reject-dict
^https:\/\/95598\.csg\.cn\/mp\/mpaas\/rubik\/openapi\/rubik\/mobile\/getRubikScene$ url reject-dict

# [mitm]
hostname = 95598.csg.cn
