# Name: 大麦去广告
# Description: 移除开屏广告、轮播图广告和弹窗广告，移除搜索填充词和专属推荐。
# Open URL: https://apps.apple.com/app/id513829338
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/Damai.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 01:54:00 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/Damai_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/acs\.m\.taobao\.com\/gw\/mtop\.damai\.wireless\.home\.welcome\/ url reject-dict

^https:\/\/acs\.m\.taobao\.com\/gw\/mtop\.damai\.mec\.popup\.get\/ url reject-dict

^ url script-response-body https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_Damai_remove_ads/phase_qx_response_2968aeb546.js

# [mitm]
hostname = acs.m.taobao.com
