# Name: 滴滴出行去广告
# Description: 移除开屏广告、精简首页、底栏和我的页面。
# Open URL: https://apps.apple.com/app/id554499054
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/DiDi.png
# Updated: 2025-09-10 09:50:58

# 引用链接: https://kelee.one/Tool/Loon/Lpx/DiDi_remove_ads.lpx

# Converted: 2026-10-01 14:35:50 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/DiDi_remove_ads.lpx
# Target: Quantumult X

# [filter_local]
host, gwp.xiaojukeji.com, reject
# [WayX] Quantumult X unsupported Rule type commented out; Rule conversion does not use Script fallback
# Source declaration: AND, ((IP-ASN, 45090, no-resolve), (DEST-PORT, 25641), (PROTOCOL, TCP)), REJECT
# [WayX] Quantumult X unsupported Rule type commented out; Rule conversion does not use Script fallback
# Source declaration: AND, ((IP-ASN, 63646, no-resolve), (DEST-PORT, 25641), (PROTOCOL, TCP)), REJECT

# [rewrite_local]
^https:\/\/res\.xiaojukeji\.com\/resapi\/activity\/mget url reject-dict

^https:\/\/lion\.didialift\.com\/broker\/\? url reject-dict

^https:\/\/conf\.diditaxi\.com\.cn\/homepage\/v1\/other\/slow\? url reject-dict

^https:\/\/conf\.diditaxi\.com\.cn\/homepage\/v1\/core\? url jsonjq-response-body '.data.disorder_cards.bottom_nav_list.data |= map(select(.id == "home_page" or .id == "user_center")) | .data.order_cards.nav_list_card.data |= map(select(.nav_id == "dache_anycar" or .nav_id == "carmate" or .nav_id == "driverservice" or .nav_id == "zhandianbashi" or .nav_id == "yuancheng" or .nav_id == "pincheche" or .nav_id == "bike" or .nav_id == "special_ride" or .nav_id == "nav_more_v3"))'

^https:\/\/conf\.diditaxi\.com\.cn\/homepage\/v1\/other\/fast\? url jsonjq-response-body 'del(.data.disorder_cards.communicate_card,.data.disorder_cards.not_login_bottom_bar,.data.disorder_cards.riding_code_card,.data.order_cards.car_owner_widget_card,.data.order_cards.marketing_card,.data.order_cards.super_banner_card,.data.disorder_cards.car_icon.data.icon_info_new_agreement)'

^https:\/\/res\.xiaojukeji\.com\/resapi\/activity\/mget\? url jsonjq-response-body 'del(.data.mult_home_banner)'

^https:\/\/common\.diditaxi\.com\.cn\/common\/v5\/usercenter\/layout$ url jsonjq-response-body 'del(.data.instances.center_marketing_card,.data.instances.center_widget_list)'

^https:\/\/common\.diditaxi\.com\.cn\/common\/v5\/usercenter\/layout$ url jsonjq-response-body '.data.instances.center_wallet_finance_card.data.view_info |= map(select(.title == "优惠卡券" or .title == "余额" or .title == "福利金"))'

^https:\/\/ct\.xiaojukeji\.com\/agent\/v3\/feeds\? url reject-dict

^https:\/\/conf\.diditaxi\.com\.cn\/dynamic\/conf url reject-dict

^https:\/\/api\.udache\.com\/gulfstream\/porsche\/v1\/dache_homepage_layout\? url jsonjq-response-body 'del(.data.instances.car_icon_01.data.icon_info_new_agreement)'

^https:\/\/as\.xiaojukeji\.com\/ep\/as\/toggles\? url jsonjq-response-body '.data |= map(if .name|IN("daijia_journey_new_tcp_switch","daijia_tcp_init","daijia_tcp_msg_encrypt","daijia_tcp_site_info","daijia_tcp_site_report")then.allow=false else. end)'

# [mitm]
hostname = as.xiaojukeji.com, common.diditaxi.com.cn, conf.diditaxi.com.cn, lion.didialift.com, api.udache.com, ct.xiaojukeji.com, res.xiaojukeji.com
