# Name: 豆瓣去广告
# Description: 移除开屏广告、各页面信息流广告、首页横幅、搜索填充词。此插件需要IPA签名方可使用，App Store用户请勿使用此插件，务必点击下方主页链接查看详细教程。
# Open URL: https://apps.apple.com/app/id907002334
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://getupnote.com/share/notes/zSn1ShBmzNYISKcTgjXE5oHMrNf2/34bf3aad-7872-497d-b239-198e27e8c84c
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/DouBan.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-03 17:44:51 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/DouBan_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/api\.douban\.com\/v\d\/app_ads\/splash url reject-dict

^https:\/\/frodo\.douban\.com\/api\/v\d\/erebor\/feed_ad url reject-dict

^https:\/\/m\.douban\.com\/rexxar\/api\/v\d\/market\/products\/ url reject-dict
^https:\/\/frodo\.douban\.com\/api\/v\d\/movie\/ad url reject-dict

^https:\/\/frodo\.douban\.com\/api\/v\d\/home_banner url reject-dict

^https:\/\/frodo\.douban\.com\/api\/v\d\/search\/found_words url reject-dict

# [mitm]
hostname = api.douban.com, frodo.douban.com, m.douban.com
