# Name: 豆瓣阅读去广告
# Description: 移除开屏广告、弹窗广告、热门搜索、热搜榜。
# Open URL: https://apps.apple.com/app/id560068813
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/DoubanRead.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:15:51 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/DoubanRead_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/read\.douban\.com\/api\/v2\/ads\/ url reject-dict

^https:\/\/read\.douban\.com\/api\/v2\/popup$ url reject-dict

^https:\/\/read\.douban\.com\/api\/v2\/search\/hot_words$ url reject-dict

^https:\/\/read\.douban\.com\/api\/v2\/search\/hot_charts$ url reject-dict

^https:\/\/read\.douban\.com\/api\/v2\/search\/rec_urls$ url reject-dict

# [mitm]
hostname = read.douban.com
