# Name: DREAME去广告
# Description: 移除开屏广告、首页大图推广、横幅推广，精简底栏，阻止桌面图标替换。仅支持2.5.1版。
# Open URL: https://apps.apple.com/app/id1564419343
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/DREAME.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 18:06:58 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/DREAME_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/cn\.iot\.dreame\.tech:\d+\/dreame-product\/public\/advertisement\/ url reject-dict

^https:\/\/cn-mall\.dreame\.tech\/dreame-mall\/api\/v1\/tag\/list$ url reject-dict

^https:\/\/cn-wxmall\.dreame\.tech\/main\/goods\/get-topgoods$ url reject-dict

^https:\/\/cn\.iot\.dreame\.tech:\d+\/dreame-product\/public\/common-plugin$ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_DREAME_remove_ads/mock_a7216a4af7.js

^https:\/\/cn\.iot\.dreame\.tech:13267\/dreame-system\/dreame-app\/setting\/query$ url jsonjq-response-body 'delpaths([["data","appIconConfig"]])'

# [mitm]
hostname = cn-mall.dreame.tech, cn-wxmall.dreame.tech, cn.iot.dreame.tech
