# Name: 配音秀去广告
# Description: 移除开屏广告、弹窗、横幅、各类关注推荐。
# Open URL: https://apps.apple.com/app/id746925035
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/DubbingShow.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 18:36:47 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/DubbingShow_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/iosapi\.peiyinxiu\.com\/Api\/live\/LiveList url jsonjq-response-body 'delpaths([["data","banners"]])'

^https:\/\/iosapi\.peiyinxiu\.com\/api\/live\/FollowList url jsonjq-response-body 'delpaths([["obj","data"]])'

^https:\/\/iosapi\.peiyinxiu\.com\/Api\/Friend\/GetRecommendUsers url jsonjq-response-body 'delpaths([["obj","data"]])'

^https:\/\/iosapi\.peiyinxiu\.com\/api\/Union\/HomeData url jsonjq-response-body 'delpaths([["obj","data"]])'
# 移除首页底部弹窗
^https:\/\/iosapi\.peiyinxiu\.com\/Api\/Film\/GetConfigValue url script-response-body https://kelee.one/Resource/JavaScript/DubbingShow/DubbingShow_remove_ads.js

# [mitm]
hostname = iosapi.peiyinxiu.com
