# Name: 粉笔去广告
# Description: 移除开屏广告、弹窗广告、悬浮广告、热门搜索，移除底栏皮肤，精简我的页面。
# Open URL: https://apps.apple.com/app/id584660358
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/FenBi.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-03 17:44:53 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/FenBi_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/keapi\.fenbi\.com\/app\/(iphone|ipad)\/position_resource\/get_banners\? url reject-dict

^https:\/\/market-api\.fenbi\.com\/(iphone|ipad)\/v1\/assistant\/info\? url reject-dict

^https:\/\/keapi\.fenbi\.com\/app\/(iphone|ipad)\/position_resource\/get_home_banners\?.*position_resource_type=1 url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_FenBi_remove_ads/mock_92cfc04125.js

^https:\/\/keapi\.fenbi\.com\/app\/(iphone|ipad)\/position_resource\/get_home_banners\?.*position_resource_type=2 url reject-dict

^https:\/\/keapi\.fenbi\.com\/app\/iphone\/\w+\/reddot\? url reject-dict

^https:\/\/ke\.fenbi\.com\/(iphone|ipad)\/v3\/timetable\/today_with_public_episodes\? url reject-dict

^https:\/\/hera-webapp\.fenbi\.com\/(iphone|ipad)\/topic\/hotquery\/list\? url reject-dict

^https:\/\/hera-webapp\.fenbi\.com\/(iphone|ipad)\/explore\/consts\? url reject-dict

^https:\/\/hera-webapp\.fenbi\.com\/(iphone|ipad)\/recommend\/info\? url jsonjq-response-body 'del(.data.rollingBanner)'

^https:\/\/hera-webapp\.fenbi\.com\/(iphone|ipad)\/announcement\/hotquery\/list\? url reject-dict

^https:\/\/ke\.fenbi\.com\/(iphone|ipad)\/v3\/apps\/config\? url jsonjq-response-body 'del(.data.bottomIconInfos.position.iconDefaultUrl, .data.bottomIconInfos.position.iconSelectedUrl, .data.bottomIconInfos.position.nightModeIconDefaultUrl, .data.bottomIconInfos.position.nightModeIconSelectedUrl)'

^https:\/\/ke\.fenbi\.com\/(iphone|ipad)\/v3\/user_member\/entry\? url reject-dict
^https:\/\/market-api\.fenbi\.com\/(iphone|ipad)\/v1\/assistant\/my\? url reject-dict

# [mitm]
hostname = keapi.fenbi.com, market-api.fenbi.com, ke.fenbi.com, hera-webapp.fenbi.com
