# Name: Google搜索重定向
# Description: 将Google搜索重定向至.com域名，如遇频繁跳转请禁用本插件。
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/Google.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:15:40 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/Google.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_Google/redirect_9b0981a17a.js
^ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_Google/redirect_2cffca5b95.js

# [mitm]
hostname = www.google.cn
