# Name: 小睡眠去广告
# Description: 移除开屏广告、信息流广告、弹窗广告、轮播图广告、侧边栏横幅广告，精简搜索页面。
# Open URL: https://apps.apple.com/app/id1194338569
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/HeartideBrainWave.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-03 17:45:14 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/HeartideBrainWave_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/api\.psy-1\.com\/cosleep\/startup\? url reject-dict

^https:\/\/api\.psy-1\.com\/cosleep\/ad\/ url reject-dict
^https:\/\/api\.psy-1\.com\/cosleep\/user\/identity\/ad\? url reject-dict

^https:\/\/api\.psy-1\.com\/cosleep\/discover\/ad$ url reject-dict

^https:\/\/api\.psy-1\.com\/cosleep\/home\/activity\? url reject-dict

^https:\/\/api\.psy-1\.com\/cosleep\/newborn\/ad\/ url reject-dict

^https:\/\/api\.psy-1\.com\/cosleep\/my\/ad\? url reject-dict

^https:\/\/api\.psy-1\.com\/cosleep\/search\/config\? url reject-dict
^https:\/\/api\.psy-1\.com\/cosleep\/newborn\/search\/ranks\? url reject-dict
^https:\/\/api\.psy-1\.com\/cosleep\/search\/inputs\? url reject-dict

^https:\/\/api\.psy-1\.com\/cosleep\/newborn\/sleeps\/guides\/banner\? url reject-dict

^https:\/\/api\.psy-1\.com\/cosleep\/newborn\/search\/ranks\/items\? url reject-dict

# [mitm]
hostname = api.psy-1.com
