# Name: Hong Kong Toolbar去广告
# Description: 移除开屏互动广告、直播前贴片广告及视频广告
# Open URL: https://apps.apple.com/app/id735754930
# Author: C.Hiang
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/HongKongToolbar.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-03 17:44:37 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/HongKongToolbar_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/a\.881903\.com\/live\/preroll\/.*\/.* url reject
^https:\/\/a\.881903\.com\/v\d\/app\/game\/.* url reject

# [mitm]
hostname = a.881903.com
