# Name: HTTPDNS拦截器
# Description: 此插件是所有去广告插件的依赖，拦截常见的HTTPDNS服务，以确保这些请求都能够在Quantumult X的DNS框架下工作。
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md], VirgilClyne[https://github.com/VirgilClyne]
# Tags: 去广告, 依赖
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/Other_icon/120px/HTTPDNS.png
# Updated: 2026-09-28 14:29:55

# Converted: 2026-09-30 12:45:46 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/Block_HTTPDNS.lpx
# Target: Quantumult X

# [filter_local]
host-keyword, httpdns, reject
host-keyword, httpsdns, reject

user-agent, httpdns*, reject
user-agent, httpsdns*, reject
user-agent, Httpdns*, reject
user-agent, Httpsdns*, reject

# Unsupported logical rule for Quantumult X: AND, ((URL-REGEX, ^http:\/\/119\.29\.29\.90\/d\?), (USER-AGENT, %E5%98%80%E5%97%92%E5%87%BA%E8%A1%8C*)), DIRECT
# Unsupported logical rule for Quantumult X: AND, ((URL-REGEX, ^http:\/\/119\.28\.28\.90\/d\?), (USER-AGENT, %E5%98%80%E5%97%92%E5%87%BA%E8%A1%8C*)), DIRECT

host, yyapp-httpdns.gslb.yy.com, reject
host, union-httpdns.gslb.yy.com, reject
host, yuyin-httpdns.gslb.yy.com, reject
host, httpdns-v6.gslb.yy.com, reject

host, dns2.q2cdn.com, reject

host, dns.weixin.qq.com, reject
host, dns.weixin.qq.com.cn, reject
host, aedns.weixin.qq.com, reject
ip-cidr, 39.156.140.30/32, reject
ip-cidr, 39.156.140.47/32, reject
ip-cidr, 39.156.140.245/32, reject
ip-cidr, 42.81.232.18/32, reject
ip-cidr, 42.187.182.106/32, reject
ip-cidr, 42.187.182.123/32, reject
ip-cidr, 42.187.184.154/32, reject
ip-cidr, 43.130.30.237/32, reject
ip-cidr, 43.130.30.240/32, reject
ip-cidr, 43.137.153.151/32, reject
ip-cidr, 43.137.159.31/32, reject
ip-cidr, 43.152.112.101/32, reject
ip-cidr, 43.153.248.120/32, reject
ip-cidr, 60.28.172.100/32, reject
ip-cidr, 61.151.231.157/32, reject
ip-cidr, 101.32.104.104/32, reject
ip-cidr, 106.39.206.21/32, reject
ip-cidr, 106.39.206.25/32, reject
ip-cidr, 106.39.206.70/32, reject
ip-cidr, 111.31.201.194/32, reject
ip-cidr, 111.31.241.76/32, reject
ip-cidr, 111.31.241.140/32, reject
ip-cidr, 111.206.147.156/32, reject
ip-cidr, 111.206.147.210/32, reject
ip-cidr, 111.206.148.27/32, reject
ip-cidr, 116.128.177.249/32, reject
ip-cidr, 116.130.224.150/32, reject
ip-cidr, 116.130.224.205/32, reject
ip-cidr, 117.185.247.73/32, reject
ip-cidr, 123.151.48.171/32, reject
ip-cidr, 123.151.48.193/32, reject
ip-cidr, 123.151.48.208/32, reject
ip-cidr, 123.151.54.50/32, reject
ip-cidr, 180.153.202.85/32, reject
ip-cidr, 183.192.196.31/32, reject
ip-cidr, 203.205.129.102/32, reject
ip-cidr, 203.205.234.132/32, reject
ip-cidr, 220.196.159.73/32, reject
ip6-cidr, 240e:928:1400:10::25/128, reject
ip6-cidr, 2402:4e00:8030:1::17/128, reject
ip6-cidr, 2402:4e00:1900:1700:0:9554:1ad9:c3a/128, reject
ip6-cidr, 2408:8711:10:10::20/128, reject
ip6-cidr, 2409:8702:4860:10::4d/128, reject

host, httpdns.kg.qq.com, reject

host, httpdns.bilivideo.com, reject

host, httpdns.browser.miui.com, reject
host, resolver.msg.xiaomi.net, reject

host, httpdns.alicdn.com, reject

host, httpdns-api.aliyuncs.com, reject
host, httpdns-sc.aliyuncs.com, reject
ip-cidr, 203.107.1.0/24, reject

host, amdc.alipay.com, reject

host, ucdc.upaas.quark.cn, reject

host, httpdns.danuoyi.tbcache.com, reject

host, httpdns.cctv.com, reject

host, httpdns-browser.platform.dbankcloud.cn, reject
host, httpdns.huaweicloud.com, reject
host, httpdns.c.cdnhwc2.com, reject
host, httpdns.platform.dbankcloud.cn, reject
host, httpdns.platform.dbankcloud.com, reject
host, httpdns1.cc.cdnhwc5.com, reject

host, doh.ptqy.gitv.tv, reject

host, httpdns.baidu.com, reject
host, httpsdns.baidu.com, reject
host, httpdns.bcelive.com, reject
host, httpdns.baidubce.com, reject
host, dns.iqiyi.com, reject
host, doh.iqiyi.com, reject
host, dns.qiyipic.iqiyi.com, reject
host, httpdns.n.shifen.com, reject
ip-cidr, 186.76.76.200/32, reject

ip-cidr, 180.76.76.200/32, reject

host, httpdns.ocloud.heytapmobi.com, reject
host, httpdns.push.heytapmobi.com, reject

host, dns.jd.com, reject
ip-cidr, 101.124.19.122/32, reject
ip6-cidr, 2402:db40:5100:1011::5/128, reject
ip-cidr, 103.224.222.208/32, reject

ip-cidr, 119.29.29.98/32, reject
ip-cidr, 119.29.29.99/32, reject

host, dotserver.douyucdn.cn, reject

host, hdns.ksyun.com, reject

host, httpdns.push.oppomobile.com, reject
host, httpdns.ocloud.oppomobile.com, reject

host, cdndns.kwd.inkuai.com, reject
host, hdns.k-dyn.com, reject
host, kuaishou.httpdns.pro, reject
host, httpdns.kwd.inkuai.com, reject
host, apidns.kwd.inkuai.com, reject
host, apidns-js.kwd.inkuai.com, reject

host, httpdns.meituan.com, reject
host, httpdnsmultiapi.meituan.com, reject
host, httpdnsmultiapivip.meituan.com, reject

host, httpdns.music.163.com, reject
host, httpdns.n.netease.com, reject
host, httpdns-sdk.n.netease.com, reject
host, httpdns.yunxindns.com, reject
host, lofter.httpdns.c.163.com, reject
host, music.httpdns.c.163.com, reject
host, httpdns.yunxindns.com, reject
ip-cidr, 59.111.239.61/32, reject
ip-cidr, 59.111.239.62/32, reject
ip-cidr, 115.236.121.51/32, reject
ip-cidr, 115.236.121.195/32, reject

host, httpdns.zybang.com, reject

host, httpdns.calorietech.com, reject

host, dns.weibo.cn, reject
ip-cidr, 39.97.130.51/32, reject
ip-cidr, 39.97.128.148/32, reject
ip-cidr, 103.41.167.237/32, reject
ip-cidr, 118.89.204.198/32, reject
ip-cidr, 182.61.194.7/32, reject
ip6-cidr, 2402:4e00:1200:ed00:0:9089:6dac:96b6/128, reject
ip6-cidr, 240c:409f:1000::/128, reject

host, hd.xiaojukeji.com, reject
ip-cidr, 116.85.2.41/32, reject
ip-cidr, 116.85.3.39/32, reject
ip-cidr, 123.207.209.142/32, reject
ip-cidr, 139.199.240.84/32, reject

host, httpdns.zybang.com, reject

host, serveraddr.service.kugou.com, reject
host, twns.p2ptun.qq.com, reject
host, tp2p.kg.qq.com, reject
ip-cidr, 81.71.61.216/32, reject

host, httpdns.immomo.com, reject

host, httpdns.zybang.com, reject

# [rewrite_local]

^http://((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(?:/v?[0-9]+)?/(?:sign_)?(?:(?:d|ss)[46]?|resolve)\? url reject-200

^http://\[[0-9a-fA-F:]+\](?:/v?[0-9]+)?/(?:sign_)?(?:(?:d|ss)[46]?|resolve)\? url reject-200

^http://103\.44\.58\.64/md\? url reject-200

^http://cdn\.wup\.huya\.com/launch/queryHttpDns url reject-200
^http://xmc\.ximalaya\.com/xmlymain-login-web/login/ url reject-200

^http://amdc\.m\.taobao\.com/amdc/mobileDispatch url reject-200
^http://47\.246\.103\.9/amdc/mobileDispatch url reject-200
^http://47\.246\.103\.10/amdc/mobileDispatch url reject-200
^http://59\.82\.113\.10/amdc/mobileDispatch url reject-200
^http://59\.82\.113\.219/amdc/mobileDispatch url reject-200
^http://103\.37\.155\.60/fetch url reject-200
^http://api\.weibo\.cn/\d+/httpdns/config url reject-200
^http://api\.weibo\.cn/httpdns/config url reject-200

^http://((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)/v\d/resolv\? url reject-200

^http://((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?):\d+/httpdns/ url reject-200

^http://\[[0-9a-fA-F:]+\]:\d+/httpdns/ url reject-200
^https?://appconf\.mail\.163\.com/mailmaster/api/http/urlConfig\.do$ url reject-dict

^https?://cdn\.wup\.huya\.com/monitor/monitor\.jsp url reject

^https://msglb\.91160\.com/msg/outer/broker/get$ url reject-dict

^https://gslbali\.ximalaya\.com/linkeye-cloud/httpdns/ url reject

^https://ucdc\d?-upaas\.uc\.cn/api/v\d/dns_query\? url reject-dict

^https://gw-cn\.jiaoliuqu\.com/taqu-im-broadcast-srv/v\d/Comet/get\? url reject-dict

# [mitm]
hostname = appconf.mail.163.com, msglb.91160.com, ucdc2-upaas.uc.cn, gw-cn.jiaoliuqu.com
