# Name: 小象超市去广告
# Description: 移除开屏广告、应用内弹窗、猜你想买、横幅推广和悬浮窗。
# Open URL: https://apps.apple.com/app/id1444411068
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/iMaiCai.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:16:14 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/iMaiCai_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/mall\.meituan\.com\/api\/c\/homepage\/splash url reject-dict
^https:\/\/mall\.meituan\.com\/api\/c\/homepage\/bubble\/operate\/info url reject-dict
^https:\/\/mall\.meituan\.com\/api\/c\/jigsaw\/code\/category-banner-\d+\/ url reject-dict
^https:\/\/mall\.meituan\.com\/api\/c\/poi\/\d+\/order\/recommend\/v\d url reject-dict
^https:\/\/mall\.meituan\.com\/api\/c\/banner\/ url reject-dict
^https:\/\/mall\.meituan\.com\/api\/c\/poi\/\d+\/personal\/recommend url reject-dict
^https:\/\/businessapi\.ksedt\.com\/signupindex\/jxlist url reject-dict
# 移除下发广告
^https:\/\/portal-portm\.meituan\.com\/horn_ios\/mergeRequest url script-response-body https://kelee.one/Resource/JavaScript/iMaiCai/iMaiCai_remove_ads.js

# [mitm]
hostname = portal-portm.meituan.com, mall.meituan.com, businessapi.ksedt.com
