# Name: IPA工具箱助手
# Description: 这是IPA工具箱的辅助插件，用于下载IPA包和应用降级。IPA工具箱是运行在Scripting应用中的脚本，需要购买Scripting的Pro版本才能运行。
# Open URL: https://apps.apple.com/app/id6479691128
# Author: 小白脸
# Tags: 功能增强
# System Version: 18
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/Other_icon/120px/IPATool.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-03 17:44:38 +08:00
# Converted by: chance
# Category: 增强
# Source: https://kelee.one/Tool/Loon/Lpx/IPATool.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
# App Store API
^https:\/\/apple-api\.com url script-request-body https://kelee.one/Resource/JavaScript/IPATool/AppStoreAPI.js

# 安装器
^https:\/\/xiaobai\.app url script-request-header https://kelee.one/Resource/JavaScript/IPATool/Installer.js

# [mitm]
hostname = apple-api.com, xiaobai.app
