# Name: 爱奇艺去广告
# Description: 移除开屏广告、焦点图广告、瀑布流广告、搜索页面广告、移除青少年弹窗，精简底栏和我的页面。
# Open URL: https://apps.apple.com/app/id1190755526
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/iQiYi_Video.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-03 17:44:45 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/iQiYi_Video_remove_ads.lpx
# Target: Quantumult X

# [filter_local]
ip-cidr, 103.44.59.54/32, reject
ip-cidr, 111.63.147.158/32, reject
ip-cidr, 116.211.198.237/32, reject

host-suffix, cupid.iqiyi.com, direct

host, api.iqiyi.com, reject
host, access.if.iqiyi.com, reject

# [rewrite_local]
^https:\/\/cards\.iqiyi\.com\/views_home\/3\.0\/qy_home\? url jsonjq-response-body 'del(.base.statistics)'

^https:\/\/cards\.iqiyi\.com\/views_home\/3\.0\/qy_home\? url jsonjq-response-body 'del(.cards[] | select(.alias_name == "focus" or .alias_name == "ad_mobile_flow" or .alias_name == "ad_trueview"))'

^https:\/\/cards\.iqiyi\.com\/views_category\/3\.0\/category_home\? url jsonjq-response-body 'del(.base.statistics | select(.ad_str)) | del(.cards[] | select(.alias_name == "entrence_focus" or .alias_name == "ad_trueview"))'

^https:\/\/cards\.iqiyi\.com\/waterfall(-plt)?\/3\.0\/feed\? url jsonjq-response-body 'del(.base.statistics | select(.ad_str)) | del(.. | select(.block_class?))'

^https:\/\/cards\.iqiyi\.com\/views_plt\/3\.0\/player_tabs_v2\? url jsonjq-response-body 'del(.kv_pair.activity_tab)'

^https:\/\/cards\.iqiyi\.com\/views_plt\/3\.0\/player_tabs_v2\? url jsonjq-response-body 'del(.cards[] | select(.alias_name == "play_vip_promotion" or .alias_name == "play_detail_tag" or .alias_name == "play_chat_entrance" or .alias_name == "play_ad_no_vip" or .alias_name == "play_vertical_short_video" or .alias_name == "play_rap_custom" or .alias_name == "play_topical_tab" or .alias_name == "play_vertical" or .alias_name == "play_water_fall_like")) | del(.. | select(.block_class?))'

^https:\/\/cards\.iqiyi\.com\/views_search\/3\.0\/hot_query_search\? url jsonjq-response-body '.cards |= map(select(.alias_name as $name | $name != "ad_trueview" and $name != "ad_mobile_flow" and $name != "search_mid_text_ad")) | if .base.statistics.ad_str? then del(.base.statistics) else . end'

^https?:\/\/iface2\.iqiyi\.com\/control\/3\.0\/init_proxy\? url reject-dict

^https?:\/\/act\.vip\.iqiyi\.com\/interact\/api\/v2\/show\? url reject-dict

^https?:\/\/iface2\.iqiyi\.com\/ivos\/interact\/video\/data\? url reject-dict

^https?:\/\/iface2\.iqiyi\.com\/video\/3\.0\/v_interface_proxy\? url reject-dict

^https?:\/\/iface2\.iqiyi\.com\/views_pop\/3\.0\/pop_control\? url reject-dict

^https?:\/\/comment-card\.iqiyi\.com\/views_comment\/3\.0\/long_video_comments\? url jsonjq-response-body '.cards |= map(select(has("alias_name")))'

^https?:\/\/iface2\.iqiyi\.com\/views_menus\/3\.0\/bottom_theme\? url jsonjq-response-body 'del(.theme_list)'
^https?:\/\/iface2\.iqiyi\.com\/views_menus\/3\.0\/bottom_theme\? url jsonjq-response-body '.cards |= map(.items |= map(select(.other.bottom_tab_type == "rec" or .other.bottom_tab_type == "my")))'

^https?:\/\/iface2\.iqiyi\.com\/views_menus\/3\.0\/home_top_menu\? url jsonjq-response-body '.nav_group_data[].nav_list |= map(select(. == "0" or . == "2" or . == "1007" or . == "1" or . == "6" or . == "3"))'

^https?:\/\/iface2\.iqiyi\.com\/fusion\/3\.0\/common_switch\? url jsonjq-response-body 'del(.content.resource.cast_device_ad)'
^https?:\/\/iface2\.iqiyi\.com\/fusion\/3\.0\/common_switch\? url jsonjq-response-body 'if getpath(["content","switchs","app_ad","app_ad_enable"]) then setpath(["content","switchs","app_ad","app_ad_enable"]; 0) else . end | if getpath(["content","switchs","app_ad","app_ad_duration"]) then setpath(["content","switchs","app_ad","app_ad_duration"]; 0) else . end | if getpath(["content","switchs","ios_tech","kPreadAdHintSwitch"]) then setpath(["content","switchs","ios_tech","kPreadAdHintSwitch"]; 0) else . end | if getpath(["content","switchs","ios_tech","ad_download"]) then setpath(["content","switchs","ios_tech","ad_download"]; 0) else . end | if getpath(["content","switchs","m_qiyi_ios_tech","KFocusAdVideoPlayTimesIn4G"]) then setpath(["content","switchs","m_qiyi_ios_tech","KFocusAdVideoPlayTimesIn4G"]; 0) else . end'

^https?:\/\/(kjp|t7z)\.cupid\.iqiyi\.com\/mixer\? url jsonjq-response-body 'del(.adSlots)'

^https?:\/\/search\.video\.iqiyi\.com\/q\? url jsonjq-response-body 'del(.data)'

^https?:\/\/iface2\.iqiyi\.com\/aggregate\/3\.0\/getMyMenus\? url jsonjq-response-body '.data |= map(select(.statistic.block != "wd_liebiao_2") | select(all(.menuList[]?.statistic2.block; . != "wd_liebiao_3")))'

# [mitm]
hostname = -i.vip.iqiyi.com, *.iqiyi.com
