# Name: 掌阅去广告
# Description: 移除开屏广告、悬浮广告、弹窗广告、朗读音色广告及我的页面广告，移除各页面的横幅轮播图。
# Open URL: https://apps.apple.com/app/id463150061
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/iReader.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:00:45 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/iReader_remove_ads.lpx
# Target: Quantumult X

# [filter_local]
host, saad.ms.zhangyue.net, reject

# [rewrite_local]
^https:\/\/(webboot\.zhangyue\.com|ih2\.ireader\.com)\/zyapi\/bookstore\/ad\/ url reject-dict
^https:\/\/(webboot\.zhangyue\.com|ih2\.ireader\.com)\/bookstore\/ad\/ url reject-dict

^https:\/\/(webboot\.zhangyue\.com|ih2\.ireader\.com)\/zybook4\/iphone\/u\/p\/api\.php\? url jsonjq-response-body 'del(.Splash)'

^https:\/\/(webboot\.zhangyue\.com|ih2\.ireader\.com)\/zybk\/api\/pop\/index\? url reject-dict

^https:\/\/(webboot\.zhangyue\.com|ih2\.ireader\.com)\/bookstore\/read\/visual\/channel\/list\? url jsonjq-response-body '.body.list |= map(select(.id | contains("ad_") | not))'

^https:\/\/(webboot\.zhangyue\.com|ih2\.ireader\.com)\/zyapi\/bookstore\/user\/mytab\? url reject-dict
^https:\/\/(webboot\.zhangyue\.com|ih2\.ireader\.com)\/zyboot\/activity\/mytab\? url reject-dict

https:\/\/(webboot\.zhangyue\.com|ih2\.ireader\.com)\/zyam\/app\/app\.php\? url reject-dict

# [mitm]
hostname = webboot.zhangyue.com, ih2.ireader.com
