# Name: 天气预报去广告
# Description: 移除开屏广告、弹窗广告、横幅广告、悬浮挂件，精简我的页面。
# Open URL: https://apps.apple.com/app/id455611831
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/iReaderCityWeather.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 11:20:56 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/iReaderCityWeather_remove_ads.lpx
# Target: Quantumult X

# [filter_local]
host, adsys.nineton.cn, reject
host, adcdn.ccqyj.com, reject

# [rewrite_local]
^http:\/\/weatherapi\.ccqyj\.com\/server\/listsv\d$ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_iReaderCityWeather_remove_ads/mock_0b0889689d.js

# [mitm]
