# Name: 京东比价
# Description: 首次使用需安装慢慢买应用，之后点击进入[我的]页面以捕获Cookie，捕获成功后方可在商品详情页面查看比价内容。
# Open URL: https://apps.apple.com/app/id414245413
# Author: wf021325[https://github.com/wf021325], githubdulong[https://github.com/githubdulong], mw418[https://github.com/mw418]
# Tags: 功能增强
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/JD.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-03 17:44:56 +08:00
# Converted by: chance
# Category: 增强
# Source: https://kelee.one/Tool/Loon/Lpx/JD_Price.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
# 捕获令牌
# [WayX] Source Script timeout ignored for Quantumult X.
^https?:\/\/apapia-sqk-weblogic\.manmanbuy\.com\/baoliao\/center\/menu$ url script-request-body https://kelee.one/Resource/JavaScript/JD/JD_Price.js

# 京东比价
# [WayX] Source Script timeout ignored for Quantumult X.
^https?:\/\/in\.m\.jd\.com\/product\/graphext\/\d+\.html url script-response-body https://kelee.one/Resource/JavaScript/JD/JD_Price.js

# [mitm]
hostname = in.m.jd.com, apapia-sqk-weblogic.manmanbuy.com
