# Name: 库街区去广告
# Description: 移除开屏广告、弹窗广告、搜索页面的热搜及话题热榜。
# Open URL: https://apps.apple.com/app/id1659339393
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/KuroBBS.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-03 17:44:59 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/KuroBBS_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/api\.kurobbs\.com\/config\/getOpenScreen$ url reject-dict

^https:\/\/api\.kurobbs\.com\/config\/index\/windows$ url reject-dict

^https:\/\/api\.kurobbs\.com\/config\/search\/getSearchConfig\? url reject-dict

^https:\/\/api\.kurobbs\.com\/forum\/app\/topic\/hotlist\? url reject-dict

# [mitm]
hostname = api.kurobbs.com
