# Name: 酷我音乐去广告
# Description: 移除开屏广告、各类弹窗、悬浮窗、各类横幅广告、信息流广告、歌词评论区广告和播放器界面广告，精简侧边栏。
# Open URL: https://apps.apple.com/app/id588673713
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/Kuwo.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:52:20 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/Kuwo_remove_ads.lpx
# Target: Quantumult X

# [filter_local]
ip-cidr, 111.206.98.63/32, reject

# [rewrite_local]
^http:\/\/rich\.kuwo\.cn\/AdService\/ url reject-dict
^http:\/\/wapi\.kuwo\.cn\/openapi\/v\d\/user\/freeMode\/ url reject-dict
^http:\/\/wapi\.kuwo\.cn\/openapi\/v\d\/app\/pasterAdvert\/ url reject-dict
^http:\/\/wapi\.kuwo\.cn\/openapi\/v\d\/app\/startup\/config url reject-dict
^http:\/\/rich\.kuwo\.cn\/EcomResourceServer\/ url reject-dict

^http:\/\/searchrecterm\.kuwo\.cn\/recterm\.s url reject-dict

^http:\/\/wapi\.kuwo\.cn\/openapi\/v\d\/app\/newMenuList\/menuListInfo url reject-dict

^http:\/\/vip\d\.kuwo\.cn\/vip\/v\d\/sysinfo\?op=getRePayAndDoPayBox url reject-dict

^http:\/\/wapi\.kuwo\.cn\/openapi\/v\d\/album\/adBar\/ url reject-dict
^https:\/\/vip\d\.kuwo\.cn\/commercia\/vipconf\/projectPage\/getPageContent url reject-dict
^https:\/\/tingshu\.kuwo\.cn\/v2\/api\/pay\/user\/info url reject-dict

^https:\/\/appi\.kuwo\.cn\/kuwopay\/personal\/cells url reject-dict

^http:\/\/wapi\.kuwo\.cn\/openapi\/v\d\/tingshu\/index\/radio url jsonjq-response-body 'walk(if type == "object" and .type == "stripAdvert" then del(.child) else . end)'

# [mitm]
hostname = appi.kuwo.cn, mc.tencentmusic.com, vip*.kuwo.cn, tingshu.kuwo.cn
