# Name: 纷玩岛去广告
# Description: 移除开屏广告、弹窗广告、信息横幅推广、票夹页面横幅广告。
# Open URL: https://apps.apple.com/app/id1566835977
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/LiveLab.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:15:53 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/LiveLab_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/api\.livelab\.com\.cn\/pgc\/advert\/ url reject-dict

^https:\/\/api\.livelab\.com\.cn\/search\/appHotWords\/app\/queryHotWords$ url reject-dict

^https:\/\/api\.livelab\.com\.cn\/appShow\/hotSearch\/app\/rankList$ url reject-dict

^https:\/\/api\.livelab\.com\.cn\/appShow\/app\/homepage\/banners\?bannerModuleId=(82|84|53) url reject-dict

^https:\/\/api\.livelab\.com\.cn\/appShow\/app\/homepage\/modules\?tabId=5$ url jsonjq-response-body '.data |= map(select(.id | IN(51, 52, 81, 82, 83, 84)))'

# [mitm]
hostname = api.livelab.com.cn
