# Name: 联掌门户去广告
# Description: 移除开屏广告、弹窗，移除首页、服务和发现页面无用内容。
# Open URL: https://apps.apple.com/app/id1070838360
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/LZMH.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 18:07:21 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/LZMH_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/lzmh\.lz-qs\.com:6025\/lzmh_app_api\/api\/v1\/app3rd\/getApp3rdGenreList\? url reject-dict

^https:\/\/lzmh\.lz-qs\.com:6025\/lzmh_app_api\/api\/v1\/ad\/ url reject-dict

^https:\/\/yuudnn\.lz-qs\.com:9220\/mssp-api\/api\/v1\/mrtb\/getAdSlotList$ url reject-dict
^https:\/\/yuudnn\.lz-qs\.com:9220\/mssp-api\/api\/v1\/mrtb\/requestAd$ url reject-dict

^https:\/\/yuudnn\.lz-qs\.com:9220\/mssp-api\/api\/v1\/mrtb\/getSdkStartConfigList$ url reject-dict

^https:\/\/lzmh\.lz-qs\.com:6025\/lzmh_app_api\/api\/v1\/index\/getRecommendList\? url reject-dict

^https:\/\/yuudnn\.lz-qs\.com\/lzmh_app_api\/o2o\/api\/v2\/o2o\/homeInfo$ url reject-dict

^https:\/\/yuudnn\.lz-qs\.com\/lzmh_app_api\/o2o\/api\/v2\/o2o\/homeShopList$ url reject-dict

^https:\/\/yuudnn\.lz-qs\.com:9220\/mssp-api\/api\/v1\/mrtb\/getSdkAdSlotList$ url reject-dict

^http:\/\/lzmh\.lz-qs\.com:5090\/resource\/download\/ url reject

^ url script-response-body https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_LZMH_remove_ads/features_qx_ccf6708f34.js

# [mitm]
hostname = lzmh.lz-qs.com, yuudnn.lz-qs.com
