# Name: 脉脉去广告
# Description: 移除开屏广告、信息流广告、横幅推广、相关帖子推荐。
# Open URL: https://apps.apple.com/app/id718659370
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/MaiMai.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 18:36:46 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/MaiMai_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/(h3\.)?open\.taou\.com\/maimai\/adshow\? url reject-dict

^https:\/\/(h3\.)?open\.taou\.com\/maimai\/pay\/v5\/check_gift\? url reject-dict

^https:\/\/(h3\.)?open\.taou\.com\/maimai\/go_gossip_darwin\/external\/v2\/query_flow_cards\? url reject-dict

^https:\/\/(h3\.)?open\.taou\.com\/maimai\/feed\/v6\/detail_recommend_feeds\? url jsonjq-response-body 'delpaths([["feeds"]])'
# 移除信息流和评论区大块广告
^https:\/\/(h3\.)?open\.taou\.com\/maimai\/(feed|gossip)\/v\d\/(focus_feed|gossip_detail_comment|feed_detail_comment?)\? url script-response-body https://kelee.one/Resource/JavaScript/MaiMai/MaiMai_remove_ads.js

# [mitm]
hostname = open.taou.com, h3.open.taou.com
