# Name: 马克水印相机去广告
# Description: 移除开屏广告，拍摄首页悬浮挂件，侧边栏横幅广告。
# Open URL: https://apps.apple.com/app/id1518226677
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/marki.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:16:00 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/marki_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/marki\.markiapp\.com\/mkg\/MomStats\/getFlowWindowList$ url reject-dict

^https?:\/\/marki\.markiapp\.com\/mkg\/Advertising\/ url reject-dict
^https:\/\/marki\.markiapp\.com\/mkg\/MomStats\/getIntegralAdv$ url reject-dict
^https:\/\/market-callback\.markiapp\.com\/adcenter\/ url reject-dict

# [mitm]
hostname = marki.markiapp.com, market-callback.markiapp.com
