# Name: 美团
# Description: 某些APP要清除缓存或者重新安装拦截广告才会生效！
# Author: 奶思
# Homepage: https://github.com/fmz200/wool_scripts
# Icon: https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/gif/naisi-01.gif
# Upstream: https://github.com/fmz200/wool_scripts/raw/main/Loon/plugin/split/partM/Meituan.lpx
# Channel: https://t.me/inaisi

#############################################

# Converted: 2026-10-04 17:16:19 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://raw.githubusercontent.com/fmz200/wool_scripts/main/Loon/plugin/split/partM/Meituan.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
DOMAIN-SUFFIX,meituan.xn, url reject
DOMAIN-SUFFIX,meituan.yoga, url reject
DOMAIN-SUFFIX,meituangov.cn, url reject
DOMAIN-SUFFIX,report.meituan.com, url reject
DOMAIN-SUFFIX,analytics.meituan.net, url reject
DOMAIN-SUFFIX,wmlog.meituan.com, url reject
DOMAIN-SUFFIX,ad.e.waimai.sankuai.com, url reject
DOMAIN-SUFFIX,mads.meituan.com, url reject
DOMAIN-SUFFIX,dreport.meituan.net, url reject
DOMAIN-SUFFIX,d.meituan.net, url reject

# [mitm]
