# Name: 米游社去广告
# Description: 移除开屏广告、搜索栏热搜及资讯、青少年模式弹窗。
# Open URL: https://apps.apple.com/app/id1470182559
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/miHoYoBBS.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 06:22:27 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/miHoYoBBS_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/bbs-api(-ab)?\.miyoushe\.com\/apihub\/api\/getAppSplash$ url reject-dict

^ url script-response-body https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_miHoYoBBS_remove_ads/phase_qx_response_2f7701e747.js

^https:\/\/bbs-api(-ab)?\.miyoushe\.com\/apihub\/api\/getHotKeywordAndEvent$ url reject-dict
^https:\/\/bbs-api-static\.miyoushe\.com\/search\/api\/search\/pre_keyword\? url reject-dict

# [mitm]
hostname = bbs-api.miyoushe.com, bbs-api-ab.miyoushe.com
