# Name: 超级课程表去广告
# Description: 移除开屏广告、首页头图、悬浮挂件。
# Open URL: https://apps.apple.com/app/id573868981
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/MyFriday.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-03 17:44:49 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/MyFriday_remove_ads.lpx
# Target: Quantumult X

# [filter_local]
host, ad.myfriday.cn, reject
ip-cidr, 182.92.244.70/32, reject

# [rewrite_local]

# [mitm]
