# Name: 代理链路检测
# Description: 查看目标节点的代理走向，在插件列表中点击此插件上的链接查看使用方法。
# Open URL: https://github.com/luestr/ProxyResource/blob/main/Resource/Markdown/NodeLinkCheck/README.md
# Author: I-am-R-E[https://github.com/I-am-R-E]
# Tags: 节点检测
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Stack.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-03 17:44:50 +08:00
# Converted by: chance
# Category: 增强
# Source: https://kelee.one/Tool/Loon/Lpx/NodeLinkCheck.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]

# [task_local]
# [WayX] Source img_url=link.circle.system omitted because Quantumult X task img-url is documented as an image URL, not an SF Symbol name.
event-interaction https://kelee.one/Resource/JavaScript/NodeLinkCheck/NodeLinkCheck.js, tag=代理链路检测, enabled=true

# [mitm]
