# Name: 皮皮虾去广告
# Description: 移除开屏广告、评论区广告、视频流广告，精简我的页面。
# Open URL: https://apps.apple.com/app/id1393912676
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/PiPiXia.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 18:36:48 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/PiPiXia_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/api(5-lq)?\.pipix\.com\/api\/ad\/ url reject-dict

^https:\/\/api(5-lq)?\.pipix\.com\/bds\/banner\/ url reject-dict

^https:\/\/api(5-lq)?\.pipix\.com\/bds\/feed\/follow_feed\/ url reject-dict

^https:\/\/api(5-lq)?\.pipix\.com\/bds\/feed\/stream\/v2\/ url jsonjq-response-body '.data.data |= map(select(has("ad_info") | not))'

^https:\/\/api(5-lq)?\.pipix\.com\/bds\/user\/check_in\/ url jsonjq-response-body '.data.profile_entrances |= map(select(.title != "放心借" and .title != "洋钱罐借款")) | del(.data.pet_interface_message)'

# [mitm]
hostname = api.pipix.com, api5-lq.pipix.com
