# Name: 朴朴超市去广告
# Description: 移除超市去开屏广告，移除首页顶部轮播图和图标广告、启动小弹图广告、首页右下角悬浮动画、搜索热搜榜、搜索建议词、搜索发现热词、订单页面商，精简我的页面。
# Open URL: https://apps.apple.com/app/id1144025167
# Author: kelv1n1n[https://github.com/kelv1n1n], 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/PuPuMall.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-03 17:45:04 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/PuPuMall_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/j1\.pupuapi\.com\/client\/account\/discount\/order url reject
^https:\/\/j1\.pupuapi\.com\/client\/marketing\/banner\/v7\?position_types=100 url reject
# 移除朴朴超市广告
^https:\/\/j1\.pupuapi\.com\/client\/marketing\/banner\/v7 url script-response-body https://kelee.one/Resource/JavaScript/PuPuMall/PuPuMall_remove_ads.js
# 移除朴朴超市广告
^https:\/\/j1\.pupuapi\.com\/client\/marketing\/banner\/search_component_banner url script-response-body https://kelee.one/Resource/JavaScript/PuPuMall/PuPuMall_remove_ads.js
# 移除朴朴超市广告
^https:\/\/j1\.pupuapi\.com\/client\/search\/hot_keywords\/v3 url script-response-body https://kelee.one/Resource/JavaScript/PuPuMall/PuPuMall_remove_ads.js
# 移除朴朴超市广告
^https:\/\/j1\.pupuapi\.com\/client\/app_resource\/resource_preload\/list_h5_resource url script-response-body https://kelee.one/Resource/JavaScript/PuPuMall/PuPuMall_remove_ads.js
# 移除朴朴超市广告
^https:\/\/j1\.pupuapi\.com\/client\/recommendation\/interests\/products url script-response-body https://kelee.one/Resource/JavaScript/PuPuMall/PuPuMall_remove_ads.js
# 移除朴朴超市广告
^https:\/\/j1\.pupuapi\.com\/client\/marketing\/advertisement\/v1 url script-response-body https://kelee.one/Resource/JavaScript/PuPuMall/PuPuMall_remove_ads.js

# [mitm]
hostname = j1.pupuapi.com
