# Name: 全民K歌去广告
# Description: 移除开屏广告、歌房页面弹窗广告、消息页广告和我的页面广告。
# Open URL: https://apps.apple.com/app/id910513149
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/QQKSong.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:00:35 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/QQKSong_remove_ads.lpx
# Target: Quantumult X

# [filter_local]
host, adsmind.gdtimg.com, reject
host, adsmind.ugdtimg.com, reject
host, c2.gdt.qq.com, reject
host, huatuocode.huatuo.qq.com, reject
host, info4.video.qq.com, reject
host, info6.video.qq.com, reject
host, ios.bugly.qq.com, reject
host, ios.video.mpush.qq.com, reject
host, mi.gdt.qq.com, reject
host, otheve.beacon.qq.com, reject
host, pgdt.gtimg.cn, reject
host, pgdt.ugdtimg.com, reject
host, qzs.gdtimg.com, reject
host, qzs.qq.com, reject
host, rmonitor.qq.com, reject
host, sdk.e.qq.com, reject
host, sdkconfig.video.qq.com, reject
host, t.gdt.qq.com, reject
host, tmead.y.qq.com, reject
host, tmeadbak.y.qq.com, reject
host, tmeadcomm.y.qq.com, reject
host, tpns.qq.com, reject
host, v.gdt.qq.com, reject
host, v2.gdt.qq.com, reject
host, win.gdt.qq.com, reject
host, wup.imtt.qq.com, reject
host, tpstelemetry.tencent.com, reject
host-keyword, trace.qq.com, reject
host-keyword, trace.video.qq.com, reject
host-suffix, gdt.qq.com, reject
host-suffix, l.qq.com, reject
host-suffix, ugdtimg.com, reject
ip-cidr, 47.110.187.87/32, reject

# [rewrite_local]
^http:\/\/y\.gtimg\.cn\/music\/common\/upload\/t_k_main_page_banner\/ url reject-200
^https:\/\/wallpaper-\d+\.file\.myqcloud\.com\/dsl\/ url reject-dict
^https?:\/\/wallpaper-\d+\.file\.myqcloud\.com\/hikari\/ url reject-dict
^https:\/\/amsweb-cdn-\S+-\d+\.file\.myqcloud\.com\/video\/ad_profile\/ url reject-dict
^https:\/\/tmeadkg\.y\.qq\.com\/maproxy\/getAd$ url reject
^https:\/\/wnsaviator\.kg\.qq\.com\/wnsaviator\/api\/v1\/transMerge\?_webcgikey=get_activity_entry$ url reject-dict

# [mitm]
hostname = wallpaper-1258344696.file.myqcloud.com, amsweb-cdn-*-1258344696.file.myqcloud.com, wnsaviator.kg.qq.com, tmeadkg.y.qq.com
