# Name: QQ音乐去广告
# Description: 过滤QQ音乐广告
# Open URL: https://apps.apple.com/app/id414603431
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/QQMusic.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-03 17:44:39 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/QQMusic_remove_ads.lpx
# Target: Quantumult X

# [filter_local]
host, adstats.tencentmusic.com, reject
host, ad.tencentmusic.com, reject
host, adcdn.tencentmusic.com, reject
host, adcdn6.tencentmusic.com, reject
host, adexpo.tencentmusic.com, reject
host, adclick.tencentmusic.com, reject
host, mc.tencentmusic.com, reject
host, monitor.music.qq.com, reject
host, tmead.y.qq.com, reject
host, tmeadbak.y.qq.com, reject
host, tmeadquic.y.qq.com, reject

# [rewrite_local]

# [mitm]
