# Name: 夸克去广告
# Description: 移除阅读广告、各页面弹窗及横幅，精简我的页面。
# Open URL: https://apps.apple.com/app/id1160172628
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/QuarkBrowser.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 01:54:09 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/QuarkBrowser_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]

^ url script-response-body https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Quark/features_qx_5b13f776a4.js

^https:\/\/stars\.shuqireader\.com\/kkios\/render\/load\/resource\/app$ url reject-dict
^https:\/\/stars\.shuqireader\.com\/kkios\/render\/load\/resource\/appConfig$ url reject-dict

# [mitm]
hostname = open-cms-api.quark.cn, stars.shuqireader.com
