# Name: 快捷搜索
# Description: 为Safari提供快速切换搜索引擎的能力，在插件列表中点击此插件上的链接查看使用方法。
# Open URL: https://github.com/luestr/ProxyResource/blob/main/Resource/Markdown/QuickSearch/README.md
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/Safari.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:52:19 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/QuickSearch.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]

^ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_QuickSearch/redirect_f02aecf4f3.js
^ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_QuickSearch/redirect_8f4b574872.js
^ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_QuickSearch/redirect_59afedd757.js
^ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_QuickSearch/redirect_6ec184ed36.js
^ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_QuickSearch/redirect_64305a02c8.js
^ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_QuickSearch/redirect_a4db0be32e.js
^ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_QuickSearch/redirect_979bb1f59c.js
^ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_QuickSearch/redirect_f1d3d2b8ef.js

# [mitm]
hostname = duckduckgo.com
