# Name: 萝卜快跑去广告
# Description: 移除开屏广告、弹窗广告、横幅广告、新用户活动皮肤，保留优惠活动。
# Open URL: https://apps.apple.com/app/id1512367546
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/RoboTaxi.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 18:36:44 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/RoboTaxi_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/idgdata\.baidu\.com\/mc\/app\/api\/listterminal\? url reject-dict
^https:\/\/idgdata\.baidu\.com\/operation\/api\/announce\/screen\/image_manage\? url reject-dict

^https:\/\/idgdata\.baidu\.com\/idgactivity\/api\/newuser\/info\? url reject-dict

# [mitm]
hostname = idgdata.baidu.com
