# Name: 360智慧生活去广告
# Description: 移除开屏广告、首页推广横幅、商城入口及我的页面推广。
# Open URL: https://apps.apple.com/app/id1488904375
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/SafetyHome.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 18:06:57 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/SafetyHome_remove_ads.lpx
# Target: Quantumult X

# [filter_local]
host, ad.iot.360.cn, reject

# [rewrite_local]
^https:\/\/app\.home\.360\.cn\/v1\/config\/custom_config url reject-dict

# [mitm]
hostname = app.home.360.cn
