# Name: 顺丰速运去广告
# Description: 移除开屏广告、首页下拉抽屉、首页推广、应用内悬浮窗、横幅广告，移除主题，精简我的页面。
# Open URL: https://apps.apple.com/app/id899529698
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/SF-Express.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 18:07:28 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/SF-Express_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/ccsp-egmas\.sf-express\.com\/cx-app-base\/base\/app\/ad\/ url reject-dict

^https:\/\/ucmp\.sf-express\.com\/proxy\/esgcempcore\/memberGoods\/pointMallService\/goodsList$ url reject-dict

^https:\/\/ucmp(-static)?\.sf-express\.com\/proxy\/ccspBase\/module-config\/(login\/)?query\? url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_SF-Express_remove_ads/mock_e3fe61f81a.js

^https:\/\/ccsp-egmas\.sf-express\.com\/cx-app-base\/base\/app\/appHomeConfig\/query$ url jsonjq-response-body '.obj |= map(select(.position != 2))'

# [mitm]
hostname = ccsp-egmas.sf-express.com, ucmp.sf-express.com, ucmp-static.sf-express.com
