# Name: 口袋壁纸去广告
# Description: 移除悬浮广告，精简我的页面。
# Open URL: https://apps.apple.com/app/id1462738233
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/ShoujiDesk.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:15:57 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/ShoujiDesk_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/api\.tdz5\.com\/search\/hotword\? url reject-dict

^https:\/\/api\.tdz5\.com\/ring\/hot\? url reject-dict
# 移除首页广告配置
^https:\/\/api\.tdz5\.com\/base\/init\? url script-response-body https://kelee.one/Resource/JavaScript/ShoujiDesk/base_init.js

# [mitm]
hostname = api.tdz5.com
