# Name: 收银通商户端去广告
# Description: 移除开屏广告和首页推广
# Open URL: https://apps.apple.com/app/id1539897140
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/ShouYinTongMerchant.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:00:35 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/ShouYinTongMerchant_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/syt\.leshuazf\.com\/merchant\/merchant\/showOpenScreenAd$ url reject-dict

^https:\/\/m\.fqfin\.cn\/cls\/leshuapay\/preCredit\.json$ url reject-dict
^https:\/\/syt\.leshuazf\.com\/merchant\/messageCenter\/stationLetterList$ url reject-dict

^https:\/\/syt\.leshuazf\.com\/merchant\/merchant\/getBannerConfig$ url reject-dict

^https:\/\/syt\.leshuazf\.com\/merchant\/popup\/getPopupInfo$ url reject-dict

# [mitm]
hostname = syt.leshuazf.com, m.fqfin.cn
