# Name: 创维智慧云去广告
# Description: 移除开屏广告、横幅广告。
# Open URL: https://apps.apple.com/app/id1459081477
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/SkyworthDigitalPicamera.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 18:36:35 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/SkyworthDigitalPicamera_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/app\.skyworthdigitaliot\.com\/skyworthOperation\/v\d\/appOperation\/allBannerConfig\? url reject-dict

# [mitm]
hostname = app.skyworthdigitaliot.com
