# Name: 慧生活798去广告
# Description: 移除开屏广告、横幅广告，精简底栏。
# Open URL: https://apps.apple.com/app/id1490809012
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/SmartLife.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 01:54:05 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/SmartLife_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^ url script-response-body https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_SmartLife_remove_ads/features_qx_a27c2e5dcd.js

^https:\/\/i\.ilife798\.com\/api\/v\d\/acc\/score\/mission-lst$ url reject-dict
^https:\/\/i\.ilife798\.com\/api\/v\d\/ep\/lst-simple\? url reject-dict

^https:\/\/i\.ilife798\.com\/api\/v\d\/ui\/app\/master$ url reject-dict

# [mitm]
hostname = i.ilife798.com
