# Name: 智慧苏州去广告
# Description: 移除开屏广告、横幅，移除信息流推广。
# Open URL: https://apps.apple.com/app/id897076369
# Author: xream[https://github.com/xream]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/SuZhouCitizenCard.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:52:38 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/SuZhouCitizenCard_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https?:\/\/newapp2\.szsmk\.com\/app\/config\/queryMainAd url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_SuZhouCitizenCard_remove_ads/mock_1de5637674.js

^https?:\/\/newapp2\.szsmk\.com\/app\/config\/(queryCarousel|queryRecommendation)\/ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_SuZhouCitizenCard_remove_ads/mock_be0171a54e.js

# [mitm]
hostname = newapp2.szsmk.com
