# Name: 天气通去广告
# Description: 移除开屏广告、横幅广告、弹窗广告，精简底栏及我的页面。
# Open URL: https://apps.apple.com/app/id458032309
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/TianQiTong.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:52:28 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/TianQiTong_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/forecast\.sina\.cn\/app\/overall\/switch\.php\? url reject-dict
^https:\/\/tqt\.weibo\.cn\/business\/advert\/ url reject-dict
^https:\/\/tqt\.weibo\.cn\/user\/device\/ad_multi_star\? url reject-dict

^https:\/\/tqt\.weibo\.cn\/operation\/activity\/ url reject-dict

^https:\/\/tqt\.weibo\.cn\/master\/nav\/tab\? url jsonjq-response-body 'map(.tabs|=map(select(.type=="weather" or .type=="radar" or .type=="my")))'

^https:\/\/tqt\.weibo\.cn\/api\/user\/user\/\d\.\d\/\?method=personal_center$ url reject-dict

# [mitm]
hostname = forecast.sina.cn, tqt.weibo.cn
