# Name: 知识星球去水印
# Description: 移除内容的水印编号
# Open URL: https://apps.apple.com/app/id1039749242
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/UnnooQuan.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-03 17:45:17 +08:00
# Converted by: chance
# Category: 增强
# Source: https://kelee.one/Tool/Loon/Lpx/UnnooQuan_remove_watermark.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/api\.zsxq\.com\/v2\/groups\/\d+$ url jsonjq-response-body 'if getpath(["resp_data","group","policies","enable_watermark"]) then setpath(["resp_data","group","policies","enable_watermark"]; false) else . end'

^https:\/\/articles\.zsxq\.com\/inline_form\/id_[a-z0-9]+\.html url response-body name="group_enable_watermark"\x20value="true" response-body name="group_enable_watermark" value="false"

# [mitm]
hostname = api.zsxq.com
