# Name: 挖财记账去广告
# Description: 移除开屏广告、横幅广告，顶部推广、活动配置。
# Open URL: https://apps.apple.com/app/id1544045905
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/Wacai.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:52:29 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/Wacai_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/jz\.wacaijizhang\.com\/sensor\/config\/iOS\.conf\? url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_Wacai_remove_ads/mock_c98bad3d47.js

^https:\/\/jz\.wacaijizhang\.com\/api\/banners\/ url reject-dict

^https:\/\/jz\.wacaijizhang\.com\/api\/resource\/universal\/fetch$ url reject-dict

^https:\/\/jz\.wacaijizhang\.com\/activity\/ url reject

# [mitm]
hostname = jz.wacaijizhang.com
