# Name: WakeUp课程表去广告
# Description: 移除横幅广告、弹窗广告，精简我的页面。
# Open URL: https://apps.apple.com/app/id1553402284
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/WakeupSchedule.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:00:16 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/WakeupSchedule_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/api\.wakeup\.fun\/wakeup\/app\/bannerconf$ url reject-dict

^ url script-response-body https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_WakeupSchedule_remove_ads/features_qx_4596af300d.js

# [mitm]
hostname = api.wakeup.fun
