# Name: WebPage
# Description: 移除网页广告。
# Author: RuCu6[https://github.com/RuCu6]
# Icon: https://rucu6.pages.dev/Icons/app/webpage.png
# Updated: 2026-08-30 10:10

# Converted: 2026-09-29 22:48:59 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://rucu6.pages.dev/Plugins/webpage.lpx
# Target: Quantumult X

# [WayX] Policy binding: source PROXY is preserved as literal QX policy name PROXY; a matching target policy must exist.

# [filter_local]
host-suffix, mypikpak.com, PROXY
host, 18hlw.com, PROXY
host, 8olbt.imsatcmn.cc, PROXY
host, yhg007.com, PROXY

# [rewrite_local]
# 解决 GitHub 速率限制返回429问题
#request if ${url} ~= /^https:\/\/(?:avatars|gist|raw)\.githubusercontent\.com\//i then request.header.set("Accept-Language", "en-us")
#request if ${url} ~= /^https:\/\/github\.com\//i then request.header.set("Accept-Language", "en-us")

# 桌面端请使用 https://google.com/ncr
# 谷歌服务重定向 //*.google.cn
^https?:\/\/(www\.)?(?:g|google)\.cn url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/script/Webpage/redirect_c6b7d5dbe6.js
^https?:\/\/translate\.google\.cn url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/script/Webpage/redirect_b0a7bd4ec8.js

# Avple 跳转弹窗 //asserts.avple.tv
^https:\/\/asserts\.avple\.tv\/file\/avple-images\/ad\.js url reject

# 可莉仓库解除 UA 限制 //kelee.one
https:\/\/(rule\.)?kelee\.one\/ url script-request-header https://raw.githubusercontent.com/JuemingDC/WayX/main/script/Webpage/header_eb9fc300bc.js
https:\/\/(rule\.)?kelee\.one\/ url script-response-header https://raw.githubusercontent.com/JuemingDC/WayX/main/script/Webpage/header_19980350e5.js

# E-Hentai (https://e-hentai.org) //e-hentai.org, exhentai.org
^https:\/\/exhentai\.org url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/script/Webpage/redirect_1cb6a93724.js

# PornHub (https://cn.pornhub.com/) //*.pornhub.com
^(https:\/\/cn\.pornhub\.com\/view_video\.php\?viewkey=[^&]+)&.*$ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/script/Webpage/redirect_36a839ae2e.js
^https:\/\/www\.pornhub\.com\/ url script-echo-response https://raw.githubusercontent.com/JuemingDC/WayX/main/script/Webpage/redirect_4e266d46a5.js
^https:\/\/cn\.pornhub\.com\/(?:interstitial|_xa\/ads) url reject-dict
# ======= 普通网页 ======= #
# 百度 //boxer.baidu.com, m.baidu.com, www.baidu.com, zhidao.baidu.com
# baidu_boxer
# [WayX] i-source-flag-not-expressed-in-target-declaration
^https:\/\/boxer\.baidu\.com\/scheme\?scheme url script-request-body https://rucu6.pages.dev/Scripts/baidu/baiduNoRedirect.js
# baidu_home
# [WayX] i-source-flag-not-expressed-in-target-declaration
^https:\/\/(?:www|m)\.baidu\.com(\/|\/\?(tn=&)?from=\d+\w)?$ url script-response-body https://rucu6.pages.dev/Scripts/webpage/baidu-index.js
# baidu_zhidao
# [WayX] i-source-flag-not-expressed-in-target-declaration
^https:\/\/zhidao\.baidu\.com\/(?:question|index|\?fr|\?word) url script-response-body https://rucu6.pages.dev/Scripts/webpage/baidu-zhidao.js

# 观影 //www.hgeme.com, www.xn--wcv59z.com
# guanying_web_ads
# [WayX] i-source-flag-not-expressed-in-target-declaration
^https:\/\/www\.(?:hgeme|xn--wcv59z)\.com\/ url script-response-body https://rucu6.pages.dev/Scripts/webpage/myblockads.js

# 移花宫 //yhg007.com, *.111107?.xyz
# yihuagong_hash_ad
# [WayX] i-source-flag-not-expressed-in-target-declaration
^https:\/\/(?:yhg007\.com|[a-z]{8}\.111107\d\.xyz)\/hash\/(?:[a-fA-F0-9]{40}|[A-Z2-7]{32})\.html$ url script-response-body https://rucu6.pages.dev/Scripts/webpage/myblockads.js
# yihuagong_search_ads
# [WayX] i-source-flag-not-expressed-in-target-declaration
^https:\/\/(?:yhg007\.com|[a-z]{8}\.111107\d\.xyz)\/search-[^\/]+\.html$ url script-response-body https://rucu6.pages.dev/Scripts/webpage/myblockads.js

# ======= ooxx ======= #
# 黑料网 //18hlw.com, 8olbt.imsatcmn.cc
# 18hlw_web_ads
# [WayX] i-source-flag-not-expressed-in-target-declaration
^https:\/\/(?:18hlw\.com|8olbt\.imsatcmn\.cc)\/ url script-response-body https://rucu6.pages.dev/Scripts/webpage/myblockads.js

# 夜未央 //miniapp2.52ywy.com
# 52ywy_web_ads
# [WayX] i-source-flag-not-expressed-in-target-declaration
^https:\/\/miniapp2\.52ywy\.com\/(?:ywyminiappbot\/(?:getLatest|getLatestAll|getCategoryVideos|getSearch|series|movies|tv|av|getbloger)|player\/getPlayer)(\?|$) url script-response-body https://rucu6.pages.dev/Scripts/webpage/52ywy.js

# 字母圈 //*.zimuquan*.top, *.zimuquan*.uk, *.zimuquan*.com
# zmq_web_ads
# [WayX] i-source-flag-not-expressed-in-target-declaration
^https?:\/\/[^\/]*zimuquan[^\/]*\/index\.php\/vod\/play\/ url script-response-body https://rucu6.pages.dev/Scripts/webpage/zimuquan.js

# E-Hentai //e-hentai.org
# ehentai_web_ads
# [WayX] i-source-flag-not-expressed-in-target-declaration
^https:\/\/e-hentai\.org\/g\/ url script-response-body https://rucu6.pages.dev/Scripts/webpage/ehentai.js

# Hanime1 //hanime1.me
# hanime_web_ads
# [WayX] i-source-flag-not-expressed-in-target-declaration
^https:\/\/hanime1\.me\/(?!(favicon|css|js|cdn-cgi|load)) url script-response-body https://rucu6.pages.dev/Scripts/webpage/hanime.js

# JavDB //javdb.com
# javdb_web_ads
# [WayX] i-source-flag-not-expressed-in-target-declaration
^https:\/\/javdb\.com\/(?!over18\?) url script-response-body https://rucu6.pages.dev/Scripts/webpage/myblockads.js

# MissAV //missav.ai, missav.fans, missav.ws
# missav_web_ads
# [WayX] i-source-flag-not-expressed-in-target-declaration
^https:\/\/missav\.(?:ai|fans|ws)\/(?!favicon)(?!(build|fonts|img|js|api|cdn-cgi)\/). url script-response-body https://rucu6.pages.dev/Scripts/webpage/missav.js

# PornHub //*.pornhub.com
# pornhub_web_ads
# [WayX] i-source-flag-not-expressed-in-target-declaration
^https:\/\/cn\.pornhub\.com\/ url script-response-body https://rucu6.pages.dev/Scripts/webpage/pornhub.js

# [mitm]
hostname = *.google.cn, asserts.avple.tv, kelee.one, rule.kelee.one, e-hentai.org, exhentai.org, *.pornhub.com, boxer.baidu.com, m.baidu.com, www.baidu.com, zhidao.baidu.com, www.hgeme.com, www.xn--wcv59z.com, yhg007.com, *.111107?.xyz, 18hlw.com, 8olbt.imsatcmn.cc, miniapp2.52ywy.com, *.zimuquan*.top, *.zimuquan*.uk, *.zimuquan*.com, hanime1.me, javdb.com, missav.ai, missav.fans, missav.ws
