# Name: 磁力宅播放器去广告
# Description: 移除开屏广告、弹窗和文件列表广告。
# Open URL: https://apps.apple.com/app/id6497060674
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/XFuse.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:52:11 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/XFuse_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/cili\.xfuse\.fun\/s\/ url reject

# [mitm]
hostname = cili.xfuse.fun, i.micecube.com, img.mofyi.com
