# Name: 医考帮去广告
# Description: 移除横幅推广、弹窗、首页悬浮挂件。
# Open URL: https://apps.apple.com/app/id1312142829
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/YiKaoBang.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-03 17:45:15 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/YiKaoBang_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/api\.yikaobang\.com\.cn\/index\.php\/client\/main\/ads\? url reject-dict

^https:\/\/api\.yikaobang\.com\.cn\/index\.php\/client\/Main\/startPage\? url reject-dict

# [mitm]
hostname = api.yikaobang.com.cn
