# Name: 阅友去广告
# Description: 移除开屏广告、弹窗广告和阅读页面广告，移除底栏福利按钮。
# Open URL: https://apps.apple.com/app/id1066723192
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/Yueyou.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 06:22:27 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/Yueyou_remove_ads.lpx
# Target: Quantumult X

# [filter_local]
host, ads.reader.yueyouxs.com, reject

# [rewrite_local]
^ url script-response-body https://raw.githubusercontent.com/JuemingDC/WayX/main/Script/Kelee_Yueyou_remove_ads/phase_qx_response_0262c2be5a.js

# [mitm]
hostname = goway.reader.yueyouxs.com
