# Name: YY语音去广告
# Description: 移除开屏广告、应用内弹窗、任务推广、频道横幅推广，精简广场顶部标签。
# Open URL: https://apps.apple.com/app/id6738899698
# Author: 可莉🅥[https://github.com/luestr/ProxyResource/blob/main/README.md]
# Tags: 去广告
# Homepage: https://hub.kelee.one
# Icon: https://raw.githubusercontent.com/luestr/IconResource/main/App_icon/120px/YYVoiceTool.png
# Updated: 2026-10-02 13:57:49

# Converted: 2026-10-04 17:15:45 +08:00
# Converted by: chance
# Category: 去广告
# Source: https://kelee.one/Tool/Loon/Lpx/YYVoiceTool_remove_ads.lpx
# Target: Quantumult X

# [filter_local]

# [rewrite_local]
^https:\/\/yuyin-api\.baizhanlive\.com\/homepage\/flashscreen\/get\? url reject-dict

^https:\/\/yuyin-api\.baizhanlive\.com\/homepage\/homepage\/banner\? url reject-dict

^https:\/\/web\.yy\.com\/yyvoice_task_sys\/bar\.html\? url reject

^https:\/\/yuyin-api\.baizhanlive\.com\/postsquare\/college\/page\/tabsV3\? url jsonjq-response-body '.data.tabList |= map(select(.code == "post" or .code == "teamup" or .code == "college" or .code == "aiSecretRoom"))'

^https:\/\/yuyin-api\.baizhanlive\.com\/search\/search\/hotword\? url reject-dict

# [mitm]
hostname = yuyin-api.baizhanlive.com, web.yy.com
